<footer class="footer">
	<div class="top">
		<p>
			<span>博客内容遵循 <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh">知识共享 署名 - 非商业性 - 相同方式共享 4.0 国际协议</a></span>
		</p>
	</div>
	<div class="bottom">
		<p><span>{{$.blogInfo.Username}} &copy; 2018</span>
			<span>
				{{if $.themeInfo.icp }}
				<a href="http://www.miitbeian.gov.cn/" target="_blank">{{$.themeInfo.icp}}</a><br>
				{{end}}
				Power by <a href="https://www.leanote.com/" target="_blank">Leanote</a> Theme <a href="https://github.com/stanzhai/leanote-theme-indigo" target="_blank">Indigo</a>
			</span>
		</p>
	</div>
</footer>
</main>	
<div class="mask" id="mask"></div>
<a href="javascript:;" id="gotop" class="waves-effect waves-circle waves-light"><span class="icon icon-lg icon-chevron-up"></span></a>
{{if $.curIsPost}}
<!-- share -->
{{end}}
<script src="//cdn.bootcss.com/node-waves/0.7.4/waves.min.js"></script>
<script src="{{$.themeBaseUrl}}/main.min.js"></script>
</body>
</html>
