<!DOCTYPE html>
<html lang="cn">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="author" content="{{$.blogInfo.Username}}">
		<title>
			{{if $.curIsIndex}}
				{{$.blogInfo.Title}}
			{{else if $.curIsCate}}
				Category-{{$.curCateTitle}}
			{{else if $.curIsSearch}}
				Search-{{$.keywords}}
			{{else if $.curIsTags}}
				Tags
			{{else if $.curIsTagPosts}}
				Tag-{{$.curTag}}
			{{else if $.curIsPost}}
				{{$.post.Title}}
			{{else if $.curIsSingle}}
				{{$.single.Title}}
			{{else if $.curIsArchive}}
				Archives
			{{end}}
		</title>
		<link href="{{$.themeBaseUrl}}/style.css" rel="stylesheet">
		<script>window.lazyScripts=[]</script>
	</head>
<body>
	<div id="loading" class="active"></div>
	<aside id="menu">
		<div class="inner flex-row-vertical">
		  <a href="javascript:;" class="header-icon waves-effect waves-circle waves-light" id="menu-off">
			  <i class="icon icon-lg icon-close"></i>
		  </a>
		  <div class="brand-wrap" style="background-image:url({{$.themeBaseUrl}}/images/brand.jpg)">
			<div class="brand">
			  <a href="" class="avatar waves-effect waves-circle waves-light">
				<img src="{{$.themeBaseUrl}}/images/brand.jpg">
			  </a>
			  <hgroup class="introduce">
				<h5 class="nickname">Stan Zhai</h5>
				<a href="mailto://mail@stanzhai.site">mail@stanzhai.site</a>
			  </hgroup>
			</div>
		  </div>
		  <div class="scroll-wrap flex-col">
			<ul class="nav">
				<li class="waves-block waves-effect {{if $.curIsIndex}}active{{end}}">
					<a href="{{.indexUrl}}">
						<i class="icon icon-lg icon-"></i>Home
					</a>
				</li>
	  		    <!-- 分类页 -->
				{{range $.cates}}
				<li class="waves-block waves-effect {{if eq .CateId $.curCateId}}active{{end}}">
					<a href="{{$.cateUrl}}/{{.UrlTitle}}">
						<i class="icon icon-lg icon-"></i>{{.Title}}
					</a>
				</li>
				{{end}}
	  		    <!-- 单页 -->
				{{range $.singles}}
				<li class="waves-block waves-effect {{if eq $.curSingleId .SingleId}}active{{end}}">
					<a href="{{$.singleUrl}}/{{.UrlTitle}}">
						<i class="icon icon-lg icon-"></i>{{.Title}}
					</a>
				</li>
				{{end}}
				<li class="waves-block waves-effect {{if $.curIsArchive}}active{{end}}">
					<a href="{{$.archiveUrl}}">
						<i class="icon icon-lg icon-"></i>Archives
					</a>
				</li>
				<li class="waves-block waves-effect {{if $.curIsTags}}active{{end}}">
					<a href="{{$.tagsUrl}}">
						<i class="icon icon-lg icon-"></i>Tags
					</a>
				</li>
			</ul>
		  </div>
		</div>
	</aside>
	<main id="main">
