{{template "header.html" .}}

<div class="container body-wrap">

	<ul class="post-list">
		{{range $.posts}}
		<li class="post-list-item fade">
			<article id="post-{{$.postUrl}}/{{.UrlTitle}}" class="article-card article-type-post" itemprop="blogPost">
				<div class="post-meta">
					<time class="post-time" title="{{$.post.PublicTime | datetime}} " itemprop="datePublished">{{$.post.PublicTime | datetime}} </time>
				</div>
			
				<h3 class="post-title" itemprop="name">
					<a class="post-title-link" href="{{$.postUrl}}/{{.UrlTitle}}">
					{{if .Title}}
						{{.Title}}
					{{else}}
						Untitled
					{{end}}
					</a>
				</h3>
			
				<div class="post-content" id="post-content" itemprop="postContent">
					{{.Abstract | raw}}
					<a href="{{$.postUrl}}/{{.UrlTitle}}" class="post-more waves-effect waves-button">
						阅读全文...
					</a>
				</div>
				{{if $.post.Tags}} 
				<div class="post-footer">
					<ul class="article-tag-list">
						{{range $index,$tag := $.post.Tags}}
						<li class="article-tag-list-item"><a class="article-tag-list-link waves-effect waves-button" href="">{{$tag}}</a></li>
						{{end}}
					</ul>
				</div>
				{{end}}
			</article>
		</li>
		{{end}}
	</ul>

	{{template "paging.html" $}}
</div>

{{template "footer.html" $}}
