{{template "header.html" .}}
{{template "inner_header.html" .}}

<div class="container body-wrap fade">
	<div class="tabs-bar container expand">
		<nav class="tags-list">
			{{range $.tags}}
			<a class="tags-list-item waves-effect waves-button" href="{{$.tagPostsUrl}}/{{.Tag}}">{{.Tag}}</a>
			{{end}}
		</nav>
	</div>
</div>
<script src="{{$.jQueryUrl}}"></script>
<script>
var BLOG = {
	ROOT: "/",
	SHARE: false,
	REWARD: false
};
var colors = ['#8bc34a', '#673ab7', '#ff9800', '#f44336', '#00abc0', '#2196f3'];
var idx = 0;
$('.tags-list a').each(function () {
	$(this).css('background-color', colors[idx % colors.length]);
	$(this).css('color', 'rgba(255,255,255,.8)');
	$(this).css('border-radius', '.2em');
	idx++;
});
</script>
{{template "footer.html" .}}